{% extends "base.html" %}
{% load static %}


{% block title %}Form produto{% endblock %}
{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/form_cliente.css' %}">
{% endblock %}

{% block container_page %}
<div class="content-conteudo">
    <form method="post" class="form-order">
        {% csrf_token %}
            <div class="field">
                <label for="id_nome">Produto:</label>
                {{ form.produto}}
            </div>
        <button type="submit">{{ button }}</button>
    </form>
</div>
{% endblock %}