{% extends "base.html" %}
{% load static %}

{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
{% endblock %}

{% block container_page %}
<div class="Conteudo">
    <div class="titulo-tabela">
        <h1>Tabela de clientes</h1>
    </div>
    <div class="content-add">
        <i class="fas fa-plus-circle"></i>
        <a href="{% url 'adicionar-cliente' %}"> Adicionar cliente</a>
    </div>
    <div class="content-conteudo">
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Telefone</th>
                        <th>Fantasia</th>
                        <th>Ações</th> <!-- Adicionando uma coluna para as ações -->
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cidade }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.fantasia }}</td>
                        <td>
                            <a href="{% url 'editar-cliente' cliente.pk %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'excluir-cliente' cliente.pk %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}